# ---------- OS junk ----------
.DS_Store
Thumbs.db

# ---------- IDE / Editors ----------
.idea/
.vscode/
*.iml

# ---------- Flutter / Dart ----------
.dart_tool/
.packages
.pub-cache/
.pub/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata
coverage/
build/

# ---------- Android ----------
android/.gradle/
android/captures/
android/local.properties
**/android/key.properties
**/android/app/*.keystore
**/android/app/*.jks
# Firebase-конфиг Android
 android/app/google-services.json

# ---------- iOS / macOS ----------
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/DerivedData/
**/ios/**/*.xcuserdatad
**/ios/**/*.xcworkspace/xcuserdata
**/macos/Pods/
**/macos/DerivedData/
**/macos/**/*.xcuserdatad
**/macos/**/*.xcworkspace/xcuserdata
#  Firebase-конфиг iOS/macOS
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# ---------- Firebase (эмуляторы, логи, ключи) ----------
.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
storage-debug.log
ui-debug.log
pubsub-debug.log
# Данные эмуляторов
**/firebase/emulators/**
# Локальные рантайм-настройки функций/эмулей
.runtimeconfig.json
# СЕКРЕТНЫЕ ключи сервис-аккаунтов 
**/*serviceAccount*.json
**/*-adminsdk*.json
**/*.p12
**/*.pem
lib/firebase_options.dart

# ---------- Cloud Functions  ----------
functions/node_modules/
functions/.firebase/
functions/lib/
functions/.env.local
functions/.env
functions/.env.*
functions/*.log

# ---------- Misc ----------
*.log
*.zip
*.tar
*.gz
